/*
    BLUE COLOR : #2980b9
    RED COLOR: #B71C1C
*/

/* ------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
}

.clearfix {zoom: 1}
.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ------------------------------------------- */
/* REUSABLE COMPONENTS background: url(http://www.nxworld.net/codepen/css-scroll-down-button/bg01.jpg) center center / cover no-repeat;*/
/* ------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.phone-top {
    max-width: 1140px;
    margin: -250px auto 10% auto;
    color: #fff;
    font-size: 120%;
}

.phone-row {
    max-width: 1140px;
    margin: 150px auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.centered {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.resume {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}


/* --------------HEADINGS-------------- */


h1,
h4,
h5,
h6,
h2,
hphone,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 150px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


/*-- not used --*/
h3 {
    margin: 70px 68px;
    font-size: 150%;
    color: #fff;
}

h4 {
    margin-top: 20px;
    margin-left: 12px;
    font-size: 170%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

h5 {
    margin-top: 20px;
    font-size: 170%;
    color: #B71C1C;
    text-decoration: none;
    text-transform: uppercase; 
}

h6 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -25px;
    letter-spacing: 1px; 
}


h2:after {
    display: block;
    height: 2px;
    background-color: #B71C1C;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* --------------PARAGRAPHS-------------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* --------------ICONS-------------- */

/*- not used -*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #B71C1C;
    margin-bottom: 10px;
}

.icon-small {
    font-size: 120%;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #B71C1C;
    margin-right: 10px;
    
    /* align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* -----------DOWN ARROW-------------- */

.icon-arrow {
    font-size: 300%;
    display: inline-block;
    color: #fff;
    margin-left: 50%;
    margin-top: 51%;
}

/* --------------LINKS-------------- */

a:link,
a:visited {
    color: #888;
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* --------------BUTTONS-------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #B71C1C;
    border: 2px solid #B71C1C;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #B71C1C;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #B71C1C  
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 2px solid rgb(150, 28, 28);
    background-color: rgb(150, 28, 28);
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid rgb(150, 28, 28);
    color: #fff;
    background-color: rgb(150, 28, 28);
}


/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */


header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Columbia_SC_Finlay_Park.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Columbia_SC_Finlay_Park.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;   
}

.welcome-text-box {
    position: absolute;
    width: 1200px;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.first {
    float: left;
    list-style: none;
    margin: 30px 0;    
}

.first li {
    display: inline-block;
}

.last {
    float: left;
    list-style: none;
    margin: 30px 0;    
}

.last li {
    display: inline-block;

}

/* ------------- DOWN ARROW ---------------*/

.main-arrow {
  width:100%;
  position:relative;
  background-color:#fff;
}
 

/* --------------------------------------- */
/* NAVIGATION */
/* --------------------------------------- */


/* ------------- MAIN NAV -----------------*/

.main-nav {
    float: right;
    list-style: none; 
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #B71C1C; 
}


/* --------------- MAIN NAV ----------------*/


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    
}

.sticky .main-nav { margin-top: 55px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
    margin-top: 0px;
}

.sticky .main-nav {
    margin-top: 20px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
    margin-top: 0px;
}

.sticky .last li h4 {
    color: #555;
    margin: 10px 0;
    
}

.sticky .first li h5 {
    margin: 10px 0;
}

.sticky .first {
    margin: 0px 0;
}

.sticky .last {
    margin: 0px 0;
    margin-left: 10px;
}

/* ------------------------------------------- */
/* FEATURES */
/* ------------------------------------------- */

.section-work {
    margin-top: -10px;
    padding-bottom: 50px;
}

.section-work .long-copy{
    margin-bottom: 50px;   
}

.section-work .div {
    margin-top: 20%;
}

/* ------------------------------------------- */
/* WORK */
/* ------------------------------------------- */


.work {
    list-style: none;
    width: 100%;
    padding-top: 30px;
    padding-left: 11.5%;
}

.work li {
    display: block;
    float: left;
    width: 30%;
    padding-left: 28px;
    margin-bottom: 75px;
}

.app {
    width: 85%;
    margin: 0;    
    overflow: hidden;
    background-color: #000;
    box-shadow: 0px 0px 0px #888888;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    
}

.work-pg-app {
    width: 65%;
}

.app img {
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.2s;
    transition: opacity 0.5s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.5s;
    transition: transform 0.2s, opacity 0.5s, -webkit-transform 0.2s;
}

.app img:hover {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;  
}

.app:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -----------------------------------------------------------------------------*/
/* HOW IT WORKS */
/* -----------------------------------------------------------------------------*/

.section-iphone {
    padding: 60px 0;
    background-color: #f4f4f4
}

.steps-box img {
   margin-left: -35%;
}
.steps-box:first-child {
    text-align: left;
    padding-right: 4%;
    margin-top: 20px;
    width: 46%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: -20px;
    margin-top: 45px;    
}

.steps-box:last-of-type { padding: 10px 0; }

.order-screen {
    width: 110%;
    margin-left: 0%;
    margin-top: 0%;
}

.work-step {
    margin-bottom: 75px;
}



.work-step div {
    color: #B71C1C;
    border: 2px solid #B71C1C;
    display: inline-block;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    text-align: center;
    padding: 11px 0px;
    float: left;
    font-size: 160%;
    margin-right: 25px;
    margin-bottom: 50px;
    
}

.work-step p {
    margin-top: 5px;
}


/* ------------------------------------------- */
/* MY WORK */
/* ------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 2px 2px 2px #d0d0d0;*/
    border-radius: 5px;
}

.my-work-info {
    margin-bottom: 20px;
}


/* ------------------------------------------- */
/* BLOG */
/* ------------------------------------------- */

.section-blog {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/gp8blyataa0-thomas-lefebvre.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/gp8blyataa0-thomas-lefebvre.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    background-position: center;    
}

.blog {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/gp8blyataa0-thomas-lefebvre.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/gp8blyataa0-thomas-lefebvre.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    height: 100vh; 
}

blockquote {
    padding: 2%;
    margin-right: 9%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    color: white;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -15px;
}

blockquote:after {
    content: "\201D";
    display: block;
    font-size: 400%;
    position: absolute;
    bottom: 45px;
    right: 20px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------- */
/* FOOTER */
/* ------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visted,
.social-links li a:link,
.social-links li a:visted {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-github,
.ion-social-linkedin,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #007bb6;
}

.ion-social-instagram:hover {
    color: #886a1a;
}

.ion-social-github:hover {
    color: #6cc644;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* -----------------------------------------------------------------------------------------*/
/* ---------------------------------------ABOUT ME SECTION ---------------------------------*/
/* -----------------------------------------------------------------------------------------*/

/* ----------------HEADER--------------------- */

.header-about {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Columbia_SC_Finlay_Park.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Columbia_SC_Finlay_Park.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-attachment:scroll;
    width: 100%;   
}

/* ------------ Headshot Picture ------------- */

headshot {
    margin-top: -70px;
    text-align: center;
    display: block;
}

headshot img {
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #fff;
}

/* ------------ About Me Section ------------- */

.about-me {
    margin-top: -30px
}

.about-position {
    padding: 15px 15%;
}

about-text {
    box-sizing: border-box;
    font-style: normal;
    line-height: 180%;
}

.about-title {
    padding-top: 30px;
}

button {
    font-weight: 300;
    font-size: 120%;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

button:hover {
    font-weight: 400;
}

job-name {
    font-weight: 300;
    font-size: 120%;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

job-name:hover {
    font-weight: 400;
}

.experience p {
    color: #B71C1C;
}

.exp-box:first-child {
    text-align: center;
    margin-left: -15%;
    width: 60%; 
}

.exp-box:last-child {
    text-align: center;
    margin-right: -20%;
    margin-left: 10%;
    width: 65%;
}

/* -----------------------------------------------------------------------------------------*/
/* -------------------------------------- WORK SECTION -------------------------------------*/
/* -----------------------------------------------------------------------------------------*/

/* ----------------HEADER--------------------- */

.header-work {
    background-image: none; 
    height: 5vh;
}

/* ------------ WORK ------------- */

.work-tiles {
    margin-top: 20px;
    margin-bottom: 0%;
    height: 210vh;
}

.project-list {
    display: block;
    float: left;
    width: 210%;
    padding-left: 10px;
    margin-top: 85px;
    margin-left: -30px;
    font-size: 140%;
}

.work h6 {
    display: block;
    margin-right: 123px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;
    letter-spacing: 1px; 
}

.work-tiles div {
    margin-bottom: -10px;
}

.work-underline:after {
    height: 2px;
    background-color: #B71C1C;
    width: 332px;
    margin-bottom: 0px;
}

/* -----------------------------------------------------------------------------------------*/
/* -------------------------------------- BLOG SECTION -------------------------------------*/
/* -----------------------------------------------------------------------------------------*/

.blog-back-btn {
    margin-right: 40px;
    margin-top: 50px;
    text-align: center; 
}

.blog-box-page {
    width: 65%;
    margin-top: 15%;
    text-align: center; 
}

/* -----------------------------------------------------------------------------------------*/
/* -------------------------------------- IPHONE REPAIR ------------------------------------*/
/* -----------------------------------------------------------------------------------------*/

.header-iphone {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/iphone-picture.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/iphone-picture.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-attachment:scroll;
    width: 100%;   
}

.iphone-form {
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=phone],
input[type=email],
select,
textarea {
    width: 80%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus{outline: none;}


/* -----------------------------------------------------------------------------------------*/
/* -------------------------------------- POPUP SCREEN ------------------------------------*/
/* -----------------------------------------------------------------------------------------*/


/* Popup container */
.popup { 
    -webkit-transform: translate(0, -150%); 
    transform: translate(0, -150%);
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0; 
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    
}

.popup.is-open {
    opacity: 1;
}


.popup.is-active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.popup--default {
    padding: 40px;
    background-color: rgba(21,24,30,0.9);
}

.popup--content {
    display: table;
}

.popup--content .popup--content-image {
    border-radius: 3px 0 0 3px;
    background-position: center center;
    background-size: cover;
    
}

/* --- 

<div class="container no-admin-bar is-relarive>
::before // .container:before

--- */

.container:before, .container:after, header:before, header:after,
.group:before, .group:after, .row:before, .row:after {
    content: " ";
    display: table
}

.container:after, header:after, .group:after, .row:after {
    clear: both
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative
}

/* --- 

looking for "is-relative"

--- */

.modal--default .container.is-relative {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 95%;
    position: relative;
    top: 0;
    left: 0
}

.modal--content {
    display: table
}

@media screen and (min-width: 1025px) {
    .modal--content .modal--content-group {
        width: 70%;
        display: table-cell;
        vertical-align: top
    }
}

.modal--content .modal--content-group.benefits-content {
    border-left: 1px solid #dfe0e1
}

.modal--content-header {
    padding: 33px 30px 0 30px;
    position: relative
}


/* ------------------------------------------------------------------------------------- */

.modal--team .member-name, .modal--team .member-title, .modal--team .member-spots {
    text-transform: uppercase
}

.modal--team .member-title {
    color: #7a848d;
    margin-bottom: 4px
}

